a.main {
  font-weight: bold;
}

ul.list-unstyled {
  list-style: none;
}

.center {
  text-align: center;
}

.pull-left {
  float: left;
  width: 45%;
  margin-right: 2.5%;
}

.pull-right {
  float: right;
  margin-left: 2.5%;
  width: 45%;
}

.pull-left img, .pull-right img {
  width: 100%;
  height: auto;
}

img.full-width {
  width: 100%;
  height: auto;
}

.sm-margin {
  margin-top: 16px;
}